@use "../../styles/Settings/variables" as *;

.application-header {
  width: 100%;
  height: 5rem;
  background-color: $color-primary;
  color: $color-white;
  font-size: $font-size-xlarge;
  display: flex;
  align-items: center;

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .logout {
      font-size: $font-size-default;
      color: $color-detail;
    }
  }
}
