$color-primary: #9381ff;
$color-auxiliary: #75dddd;
$color-detail: #824670;
$color-bland: #deb986;
$color-shadow: #0d1b2a;
$color-black: #000;
$color-white: #fff;

$color-success: #0f0;
$color-error: #f00;
$color-warning: #ff0;

$spacing-default: 8px;
$spacing-small: 4px;
$spacing-big: 16px;
$spacing-large: 32px;

$font-size-default: 16px;
$font-size-tiny: 8px;
$font-size-small: 12px;
$font-size-big: 24px;
$font-size-large: 32px;
$font-size-xlarge: 48px;
