@use "../../styles/Settings/variables" as *;

.main-content {
  width: 85%;
  padding-top: $spacing-large;

  > .layout-title {
    margin-bottom: $spacing-big;
  }

  > .layout-text {
    max-width: 75%;
  }
}

.fetch-content {
  > .buttons {
    margin-top: $spacing-big;
    display: flex;
    justify-content: space-around;
    max-width: 50%;
  }

  > .columns {
    margin-top: $spacing-big;
    display: flex;
    justify-content: space-around;
    max-width: 50%;
  }
}
